In [1]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
import pandas as pd

In [8]:
df_scroll = pd.read_pickle('DLRV_Dataset/user_df_final/scroll/df_scroll_user_+b5wOQk2TbBc7z+e.pkl')
df_scroll.head()

,time,token,position,dt
1,2022-01-13 12:48:28.585000+00:00,+b5wOQk2TbBc7z+e,1.0,0 days 00:04:21.443000
2,2022-01-13 12:48:28.609000+00:00,+b5wOQk2TbBc7z+e,4.0,0 days 00:00:00.024000
3,2022-01-13 12:48:28.626000+00:00,+b5wOQk2TbBc7z+e,10.0,0 days 00:00:00.017000
4,2022-01-13 12:48:28.643000+00:00,+b5wOQk2TbBc7z+e,14.0,0 days 00:00:00.017000
5,2022-01-13 12:48:28.658000+00:00,+b5wOQk2TbBc7z+e,19.0,0 days 00:00:00.015000

In [9]:
df_click = pd.read_pickle('DLRV_Dataset/user_df_final/click/df_click_user_+b5wOQk2TbBc7z+e.pkl')
df_click.head()

,time,token,global_position_x,global_position_y,dt,dx,dy
4,2022-01-13 12:45:51.899000+00:00,+b5wOQk2TbBc7z+e,96,265,0 days 00:00:04.470000,0.0,21.0
5,2022-01-13 12:45:55.061000+00:00,+b5wOQk2TbBc7z+e,98,345,0 days 00:00:03.162000,2.0,80.0
8,2022-01-13 12:48:26.079000+00:00,+b5wOQk2TbBc7z+e,96,267,0 days 00:02:31.018000,-2.0,-78.0
9,2022-01-13 12:49:03.184000+00:00,+b5wOQk2TbBc7z+e,102,385,0 days 00:00:37.105000,6.0,118.0
12,2022-01-13 12:49:46.164000+00:00,+b5wOQk2TbBc7z+e,135,333,0 days 00:00:42.980000,33.0,-52.0